.News-Section {
    color: white;
    background-color: #556B2E;
    height: auto;
    width: 300px;
    padding: 15px;
    margin: 50px 0px;
    border: 2px solid white;
  }
.Main {
    color: white;
    background-color: #6B8E23;
    padding: 30px;
}
img.Main {
    border: 10px solid white;

}
