p {
  color: blue;
}

.News-Section {
    color: white;
    background-color: #556B2F;
    height: auto;
    width: 300px;
    padding: 15px;
    marigin: 50px;
    border: 2px solid white;
  }
img.Main {
    margin: 10px;
    border: 2px solid white;
}
.Main {
    color: White;
    background-color: #6B8E23;
    padding: 30px;
}
